name: Deploy to Azure

on:
  workflow_run:
    workflows: ["Build and Test"]
    types:
      - completed
    branches:
      - master

env:
  AZURE_FUNCTIONAPP_NAME: 'func-metareport'

jobs:
  deploy:
    runs-on: windows-latest
    permissions:
      contents: read
      actions: read
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
    - name: Download build artifact
      uses: dawidd6/action-download-artifact@v3
      with:
        name: function-app
        path: ./publish
        workflow: build-and-test.yml
        run_id: ${{ github.event.workflow_run.id }}

    - name: Deploy to Azure Functions
      uses: Azure/functions-action@v1
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: './publish'
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
